@using WorkReport.Models.Models;
@using static Trac_WorkReport.Controllers.UserMappingController;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@model EmployeeMappingViewModel

<h1>Add Employee Mapping</h1>

<form method="post">
    <div class="form-group">
        <label for="EmployeeId">Employee</label>
        <select class="form-control" id="EmployeeId" name="EmployeeId" >
            @foreach (var employee in Model.EmployeeOptions)
            {
                <option value="@employee.Value">@employee.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Reviewing Officer</label>
        <div>
            @foreach (var employee in Model.EmployeeOptions)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="ReviewingOfficerId_@employee.Value" name="ReviewingOfficerId" value="@employee.Value">
                    <label class="form-check-label" for="ReviewingOfficerId_@employee.Value">@employee.Text</label>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <label>Reporting Officer</label>
        <div>
            @foreach (var employee in Model.EmployeeOptions)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="ReportingOfficerId_@employee.Value" name="ReportingOfficerId" value="@employee.Value">
                    <label class="form-check-label" for="ReportingOfficerId_@employee.Value">@employee.Text</label>
                </div>
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

*@
@*
@model EmployeeMappingViewModel

<h1>Add Employee Mapping</h1>

<form method="post">
    <div class="form-group">
        <label for="EmployeeId">Employee</label>
        <select class="form-control" id="EmployeeId" name="EmployeeId">
            @foreach (var employee in Model.EmployeeOptions)
            {
                <option value="@employee.Value">@employee.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="ReviewingOfficerId">Reviewing Officer</label>
        <select class="form-control" id="ReviewingOfficerId" name="ReviewingOfficerId">
            @foreach (var officer in Model.OfficerOptions)
            {
                <option value="@officer.Value">@officer.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="ReportingOfficerId">Reporting Officer</label>
        <select class="form-control" id="ReportingOfficerId" name="ReportingOfficerId">
            @foreach (var officer in Model.OfficerOptions)
            {
                <option value="@officer.Value">@officer.Text</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
*@

@*@model Trac_WorkReport.Controllers.UserMappingController.EmployeeMappingViewModel

<h1>Add Employee Mapping</h1>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row  pb-2 col-12">
            <div class="form-group col-4">
        <label for="SelectedEmployeeIds">Employees</label>
                <select class="form-control" id="SelectedEmployeeIds" name="SelectedEmployeeIds" multiple size="10">
            @foreach (var employee in Model.EmployeeOptions.OrderBy(u => u.Text))
            {
                <option value="@employee.Value">@employee.Text</option>
            }
        </select>
    </div>
        <div class="form-group col-4">
        <label>Reviewing Officer</label>
                <select class="form-control" id="ReviewingOfficerId" name="ReviewingOfficerId" multiple size="10">
            @foreach (var officer in Model.OfficerOptions.OrderBy(u=>u.Value))
            {
                <option value="@officer.Value">@officer.Text</option>
            }
        </select>
    </div>
        <div class="form-group col-4">
        <label>Reporting Officer</label>
                <select class="form-control" id="ReportingOfficerId" name="ReportingOfficerId" multiple size="10">
            @foreach (var officer in Model.OfficerOptions.OrderBy(u=>u.Text))
            {
                <option value="@officer.Value">@officer.Text</option>
            }
        </select>
    </div>
    </div>

        <div class="row text-lg-end">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Save</button>
    </div>
            <div class="col-6 col-md-3">
                <a asp-controller="UserMapping" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
            </div>
    </div>
    </div>
</form>
*@
@*@model Trac_WorkReport.Controllers.UserMappingController.EmployeeMappingViewModel

<h1 class="mb-4">Add Employee Mapping</h1>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Employees</h5>
                        <select class="form-select" id="SelectedEmployeeIds" name="SelectedEmployeeIds" multiple size="10">
                            @foreach (var employee in Model.EmployeeOptions.OrderBy(u => u.Text))
                            {
                                <option value="@employee.Value">@employee.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Reviewing Officer</h5>
                        <select class="form-select" id="ReviewingOfficerId" name="ReviewingOfficerId" multiple size="10">
                            @foreach (var officer in Model.OfficerOptions.OrderBy(u => u.Value))
                            {
                                <option value="@officer.Value">@officer.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Reporting Officer</h5>
                        <select class="form-select" id="ReportingOfficerId" name="ReportingOfficerId" multiple size="10">
                            @foreach (var officer in Model.OfficerOptions.OrderBy(u => u.Text))
                            {
                                <option value="@officer.Value">@officer.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-md-3 mb-3">
                <button type="submit" class="btn btn-primary w-100">Save</button>
            </div>
            <div class="col-md-3">
                <a asp-controller="UserMapping" asp-action="Index" class="btn btn-outline-secondary w-100">Back to List</a>
            </div>
        </div>
    </div>
</form>*@

@model Trac_WorkReport.Controllers.UserMappingController.EmployeeMappingViewModel

<h1 class="mb-4">Add Employee Mapping</h1>

<form method="post">
   @* <div class="container">*@
        <div class="row">
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Employees</h5>
                        <select class="form-select" id="SelectedEmployeeIds" name="SelectedEmployeeIds" multiple size="10">
                            @foreach (var employee in Model.EmployeeOptions.OrderBy(u => u.Text))
                            {
                                <option value="@employee.Value">@employee.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Reviewing Officer</h5>
                        <select class="form-select" id="ReviewingOfficerId" name="ReviewingOfficerId" multiple size="10">
                            @foreach (var officer in Model.OfficerOptions.OrderBy(u => u.Value))
                            {
                                <option value="@officer.Value">@officer.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Reporting Officer</h5>
                        <select class="form-select" id="ReportingOfficerId" name="ReportingOfficerId" multiple size="10">
                            @foreach (var officer in Model.OfficerOptions.OrderBy(u => u.Text))
                            {
                                <option value="@officer.Value">@officer.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        <div class="col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Project</h5>
                    <select class="form-select" id="ProjectId" name="ProjectId" multiple size="10">
                        @foreach (var officer in Model.Projects.OrderBy(u => u.Text))
                        {
                            <option value="@officer.Value">@officer.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-md-3 mb-3">
                <button type="submit" class="btn btn-primary w-100">Save</button>
            </div>
            <div class="col-md-3">
                <a asp-controller="UserMapping" asp-action="Index" class="btn btn-outline-secondary w-100">Back to List</a>
            </div>
        </div>
   @* </div>*@
</form>

