@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <!-- User Information Section -->
   @* <div class="container mt-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">User Information</h5>
                <hr>
                @* //<input id="" asp-for="@Model.CurrentUser.Id" hidden  />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" id="fullName" value="@Model.CurrentUser.EmployeeName" readonly>
                        </div>
                        <div class="form-group">
                            <label for="employeeID">Employee ID</label>
                            <input type="text" class="form-control" id="employeeID" value="@Model.CurrentUser.EmployeeID" readonly>
                        </div>
                    </div>


    <div class="form-group">
    <label asp-for="TimeSheet.Work">Work </label>
    <div class="input-group">
    <textarea class="form-control" rows="3" asp-for="TimeSheet.Work" placeholder="Select Date" readonly value="@timeSheet.Work"></textarea>
    <input type="text" class="form-control" asp-for="TimeSheet.Work" readonly value="@timeSheet.Work">
    </div>
    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="reportingOfficer">Reporting Officer</label>
                            <input type="text" class="form-control" id="reportingOfficer" value="@Model.CurrentUser.ReportingOfficerName" readonly>
                        </div>
                        <div class="form-group">
                            <label for="designation">Designation</label>
                            <input type="text" class="form-control" id="designation" value="@Model.CurrentUser.Roles.FirstOrDefault()?.RoleName" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- Project Addition Form -->
@using WorkReport.Models.Models
@model UserIndexViewModelTS

@{
    // Convert UTC +5:30 to local time
    var localDate = DateTime.UtcNow.AddHours(5).AddMinutes(30).ToString("dd/MM/yyyy");
}

<div class="container mt-4">
    <form asp-action="UpdateTS" method="post">
        @if (Model.reportViewModels != null && Model.reportViewModels.Any())
        {
            <input type="hidden" name="UserId" value="@Model.reportViewModels.First().UserId" />
            <input type="hidden" name="reportViewModels[0].TimeSheets[0].EmployeeGUID" value="@Model.reportViewModels.First().TimeSheets.First().EmployeeGUID" />
            <input type="hidden" name="reportViewModels[0].TimeSheets[0].AssignedBy" value="@Model.reportViewModels.First().TimeSheets.First().AssignedBy" />
            <input type="hidden" name="reportViewModels[0].TimeSheets[0].WorkTitle" value="@Model.reportViewModels.First().TimeSheets.First().WorkTitle" />
            <input type="hidden" name="reportViewModels[0].TimeSheets[0].TSid" value="@Model.reportViewModels.First().TimeSheets.First().TSid" />
          
            <div class="card shadow">
                <h5 class="card-header text-primary">Update Work Details</h5>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Employee Name:</label>
                            <input type="text" class="form-control" disabled value="@Model.reportViewModels.First().EmployeeName" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label fw-bold">Employee ID:</label>
                            <input type="text" class="form-control" disabled value="@Model.reportViewModels.First().EmployeeID" />
                        </div>
                    </div>

                    @for (int i = 0; i < Model.reportViewModels.Count; i++)
                    {
                        var reportViewModel = Model.reportViewModels[i];
                        for (int j = 0; j < reportViewModel.TimeSheets.Count(); j++)
                        {
                            var timeSheet = reportViewModel.TimeSheets.ElementAt(j);
                            <div class="mb-3">
                                <div class="form-group mt-1">
                                    <label class="fw-bold">Work Title</label>
                                    <input type="text" class="form-control mt-1" readonly value="@timeSheet.WorkTitle">
                                </div>

                                <div class="form-group mt-1">
                                    <label class="fw-bold">Report Date</label>
                                    <input type="text" class="form-control mt-1" readonly value="@timeSheet.ReportDate">
                                </div>

                                <div class="form-group mt-1">
                                    <label class="fw-bold">Work</label>
                                    <textarea class="form-control mt-1" rows="3" @(reportViewModel.UserId != reportViewModel.currentuser ? "readonly" : "") name="reportViewModels[@i].TimeSheets[@j].Work">@Html.Raw(timeSheet.Work)</textarea>
                                </div>

                                @if (reportViewModel.currentuser == reportViewModel.ReportOfc)
                                {
                                    <div class="form-group mt-1">
                                        <label class="fw-bold">Remarks by Reporting Officer</label>
                                        <textarea class="form-control mt-1" rows="6" name="reportViewModels[@i].TimeSheets[@j].RemarksByRpOf">@Html.Raw(timeSheet.RemarksByRpOf)</textarea>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" name="reportViewModels[0].TimeSheets[0].RemarksByRpOf" value="@Model.reportViewModels.First().TimeSheets.First().RemarksByRpOf" />
                                   
                                }

                                @if (reportViewModel.currentuser == reportViewModel.ReviewOfc)
                                {
                                    <div class="form-group mt-1">
                                        <label class="fw-bold">Remarks by Reviewing Officer</label>
                                        <textarea class="form-control mt-1" rows="6" name="reportViewModels[@i].TimeSheets[@j].RemarksByReOf">@Html.Raw(timeSheet.RemarksByReOf)</textarea>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" name="reportViewModels[0].TimeSheets[0].RemarksByReOf" value="@Model.reportViewModels.First().TimeSheets.First().RemarksByReOf" />
                                }
                            </div>
                        }
                    }
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col text-end">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No report view models available.
            </div>
        }
    </form>
</div>










   @* <div class="container mt-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title text-primary">Add Work</h5>
                <hr>

                @foreach (var reportViewModel in Model.reportViewModels)
                {
                    @foreach (var timeSheet in reportViewModel.TimeSheets)
                    {
                        <div class="form-group">
                            <label asp-for="TimeSheet.WorkTitle">Work Title</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="TimeSheet.WorkTitle" readonly value="@timeSheet.WorkTitle">
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="TimeSheet.ReportDate">Report Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="TimeSheet.ReportDate" readonly value="@timeSheet.ReportDate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="TimeSheet.Work">Work</label>
                            <div class="input-group">
                                <textarea class="form-control" rows="3" readonly>@timeSheet.Work</textarea>  
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="TimeSheet.RemarksByRpOf">Remarks by Reporting Officer</label>
                            <textarea class="form-control" rows="3" readonly>@timeSheet.RemarksByRpOf</textarea>
                        </div>

                        <div class="form-group">
                            <label asp-for="TimeSheet.RemarksByReOf">Remarks by Reviewing Officer</label>
                            <textarea class="form-control" rows="6" readonly>@timeSheet.RemarksByReOf</textarea>
                        </div>
                    }
                }
            </div>
        </div>
    </div>*@





@section Scripts {
   
}
